* {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif ;
}

input:focus{
    outline: none;
}
svg{
width: 20px;
}

.google{
width: 550px;

margin: 170px  auto 0px;

}

.google img{
display:block;
margin: auto;
margin-bottom: 30px;
}

.google .search{
position: relative;

}

.google .search i{

  position: absolute;  
  top: 16px; ;
  left: 15px;
  color: #9aa0a6;
  font: size 15px;
}
.google .search input{

    display: block;
    width: 100%;
    padding: 14px 20px 14px 40px;
box-sizing: border-box;
border: 1px solid red;
 border-radius: 50px;
 border: 1px solid #dfe1e5;
margin-bottom: 20px;

}
.google .search svg{
position: absolute;
top: 15px;
right: 15px;
}
.google .btns{
    margin top: 30px}
.google .search input:hover,
.google .search input:focus
{

  background: #fff;border: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px rgba(32,  33, 36, 0.28);
}
.google .btns{
margin top: ; 30px; ;
text-align: center;

}
.google .btns button{
padding: 8px 15px;
background-color:#f8f9fa; border: 1px solid #f8f9fa;
border-radius: 4px;
cursor: pointer; color: #3c4043 ;
font-size: 14px;
margin: 0px 5px ;
}


.google .btns button:hover{
box-shadow: 0 1px 1px rgb (0, 0, 0, 1);
border-color: #f8f9fa;
border: 1px solid #dadce0;
color: #202124;

}
.google p{
text-align: center;
font-size: 14px;
margin: top 30px; 
color: #222;

}
.google p a{
text-decoration: none;

}

.google p a:hover{
text-decoration:underline;

}







